#client
# Dependencies
**/node_modules/

# Environment files
**/.env*

# Next.js build outputs
**/.next/
**/out/
**/build/

# Capacitor build outputs
**/android/app/build/
**/android/.gradle/
**/android/local.properties
**/ios/App/build/
**/ios/App/Pods/

# IDE and OS
.DS_Store
**/.vscode/
**/.idea/
**/*.log
# backend

backend/node_modules
backend/.env